footer{
    border-top: 1px solid rgb(29, 29, 29);
    background-color: #385E9D;
    font-weight: 400;
    color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
}

a{
    color: rgb(240, 240, 240);
    text-decoration: none;
}